h1{
    color: darkmagenta;
    background-color: darkorange;
    text-align: center;
    margin: auto;
}
h2{
    color: darkred;
    background-color: darkturquoise;
    text-shadow: black;
    margin: auto;
}